<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PROJECT_ID" value="${HOSTNAME}"/>
    <property name="LOG_PATH" value="${LOG_PATH:-logs}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${PROJECT_ID}"/>
    <property name="INCLUDE_MDC" value="${INCLUDE_MDC:-true}"/>

    <timestamp key="currentDate" datePattern="dd-MM-yyyy"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Console Appender (plain text) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender (JSON format) -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}_${currentDate}.log</file>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>${INCLUDE_MDC}</includeMdc>
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                <pattern>{"message": "#tryJson{%message}"}</pattern>
            </provider>
            <fieldNames>
                <message>[ignore]</message>
            </fieldNames>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <fileNamePattern>${LOGFILE}_${currentDate}.%i</fileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- Root logger -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <logger name="org.springframework" level="WARN"/>

    <logger name="com.poc.sample_springboot_mysql" level="INFO"/>
</configuration>